nav {
    padding: .5em;
    overflow: auto;
    display: flex;
    justify-content: center;
    background-color: var(--background);
    border-radius: 0 0 1em 1em
}

.main-menu {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap
}

.links, .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap
}

.social-links i {
    font-size: 1.75em;
    margin: .25em;
    color: var(--primary-text)
}

.social-links i:hover {
    color: var(--link);
    cursor: pointer
}

.links .button {
    margin: .25em
}

.navbar {
    flex-direction: column
}

.navbar a {
    display: flex;
    align-items: center
}

.nav-item {
    display: inline-block;
    font-size: 1.2em;
    margin: .5em
}

.nav-item a {
    color: var(--primary-text);
    text-decoration: none
}

.nav-item-active {
    font-weight: 700;
    font-size: 1.25em
}

.hero {
    position: relative;
    color: #fff;
    z-index: 0
}

.hero-description {
    color: #fff
}

.hero-title {
    font-size: 3em
}

header .container {
    flex-direction: column
}

header .links {
    flex-direction: column
}

@media (min-width: 64em) {
    nav {
        justify-content: space-between
    }

    .navbar {
        flex-direction: row
    }

    header .container {
        flex-direction: row
    }

    header .links {
        flex-direction: row
    }
}

code[class*=language-], pre[class*=language-] {
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: var(--code);
    color: #f8f8f2
}

:not(pre) > code[class*=language-] {
    padding: .1em;
    border-radius: .3em
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
    color: #75715e
}

.token.punctuation {
    color: #f8f8f2
}

.token.namespace {
    opacity: .7
}

.token.boolean, .token.number, .token.operator {
    color: #fd971f
}

.token.property {
    color: #f4bf75
}

.token.tag {
    color: #66d9ef
}

.token.string {
    color: #a1efe4
}

.token.selector {
    color: #ae81ff
}

.token.attr-name {
    color: #fd971f
}

.language-css .token.string, .style .token.string, .token.entity, .token.url {
    color: #a1efe4
}

.token.attr-value, .token.control, .token.directive, .token.keyword, .token.unit {
    color: #a6e22e
}

.token.atrule, .token.regex, .token.statement {
    color: #a1efe4
}

.token.placeholder, .token.variable {
    color: #66d9ef
}

.token.deleted {
    text-decoration: line-through
}

.token.inserted {
    border-bottom: 1px dotted #f9f8f5;
    text-decoration: none
}

.token.italic {
    font-style: italic
}

.token.bold, .token.important {
    font-weight: 700
}

.token.important {
    color: #f92672
}

.token.entity {
    cursor: help
}

pre > code.highlight {
    outline: .4em solid #f92672;
    outline-offset: 0.4em
}

.wiki-content h1, .wiki-content h2 {
    border-bottom: 2px solid var(--primary-text-muted)
}

.wiki-content, .wiki-toc {
    margin-top: 1em
}

.wiki-toc {
    background-color: var(--accent);
    border-radius: 1em;
    padding: 1em;
    font-size: 1rem;
    flex: 1
}

.wiki-toc-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    list-style: none
}

.wiki-toc-list li {
    line-height: 1.466666666667
}

.wiki-toc-list ul {
    padding: 0 0 .75em 0;
    margin: 0;
    list-style: none
}

.wiki-toc-list ul ul {
    padding-bottom: 0;
    padding-left: .625rem
}

.wiki-toc-list ul ul > li:not(.wiki-toc-active) > ul > li:not(.wiki-toc-active) {
    display: none
}

.wiki-toc-list a {
    padding: .15em .25em;
    display: block
}

.wiki-toc-list a:not(:hover) {
    text-decoration: none
}

.wiki-toc-list li {
    margin: 0;
    padding: 0
}

.wiki-toc-list > li {
    flex-grow: 1;
    flex-basis: 14.375rem
}

.wiki-toc-list > li > a {
    color: var(--primary-text);
    font-weight: 700;
    border-bottom: 1px solid #ddd;
    margin-bottom: .25em
}

.wiki-toc-list li.wiki-toc-active > a {
    background-color: var(--accent)
}

.wiki-toc-list li.wiki-toc-active > ul, .wiki-toc-list ul.wiki-toc-active {
    display: block
}

.wiki-cat-list-active {
    font-weight: 700
}

.inlinelist {
    padding: 0
}

.inlinelist-no-nest ol, .inlinelist-no-nest ul {
    display: none
}

.wiki-tag {
    display: inline
}

.wiki-tag a {
    display: inline-flex;
    text-transform: uppercase;
    font-size: .75em;
    padding: .08333333333333em .3333333333333em;
    margin: .5em .5em .5em 0;
    color: var(--primary-text);
    border: 1px solid var(--accent);
    border-radius: .25em;
    text-decoration: none;
    line-height: 1.8
}

.wiki-tag:hover a {
    text-decoration: underline
}

.wiki-tag-active a {
    font-weight: 700
}

@media (min-width: 64em) {
    .wiki-content {
        width: 80%
    }

    .wiki-toc {
        margin-right: 1em
    }
}

.download-tab-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    border-radius: 1em 1em 0 0;
    background-color: var(--accent);
    flex-wrap: wrap;
    overflow: hidden
}

.download-tab-list li {
    flex-grow: 1;
    display: block
}

.download-tab-list a {
    color: var(--primary-text);
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: .75em .5em
}

.download-tab-list a:hover {
    background-color: var(--accent-light)
}

.download-tab-list i {
    color: var(--primary-text);
    font-size: 1.2em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-right: .25em
}

.download-tab-active a {
    background-color: var(--background)
}

.download-content {
    background-color: var(--background);
    padding: 1em;
    border-radius: 0 0 1em 1em
}

.download-content .column div {
    width: 100%
}

.download-content .button {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    margin-left: 0
}

@media (min-width: 64em) {
    .download-tab-list a {
        border-radius: 1rem 1rem 0 0
    }

    .download-content .column div {
        width: 80%
    }
}

.postlist {
    list-style: none;
    padding: 0
}

.postlist-item {
    background-color: var(--background);
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    counter-increment: start-from -1;
    line-height: 1.8
}

.postlist :first-child {
    margin-top: 0
}

.postlist {
    margin-top: 0
}

.postlist-item:before {
    display: inline-block;
    pointer-events: none;
    content: "" counter(start-from, decimal-leading-zero) ". ";
    line-height: 100%;
    text-align: right
}

.postlist-date, .postlist-item:before {
    font-size: .8125em;
    color: var(--darkgray)
}

.postlist-item:not(:first-child) {
    margin-top: 2em
}

.postlist-date {
    word-spacing: -0.5px
}

.postlist-link {
    font-size: 1.2em;
    padding-left: .25em;
    padding-right: 1em;
    text-underline-position: from-font;
    text-underline-offset: 0;
    text-decoration-thickness: 1px
}

.postlist-item-active .postlist-link {
    font-weight: 500
}

.postlist-description {
    width: 100%;
    border-left: var(--primary) .25em solid;
    padding: .5em;
    margin-top: .33em
}

.tmpl-home .postlist-link {
    font-size: 1.1875em;
    font-weight: 700
}

.post-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: .75em;
    padding: .08333333333333em .3333333333333em;
    margin-left: 1em;
    color: var(--primary-text);
    border: 1px solid var(--accent);
    border-radius: .25em;
    text-decoration: none;
    line-height: 1.8
}

a.post-tag, a.post-tag:visited {
    color: inherit
}

a.post-tag:focus, a.post-tag:hover {
    background-color: var(--lightgray)
}

.postlist-item > .post-tag {
    align-self: center
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    list-style: none;
    padding: 0
}

.user-info {
    position: relative;
    margin: .5em;
    width: 10em;
    border-radius: 1em;
    overflow: hidden;
    background-color: var(--background);
    text-decoration: none;
    color: var(--primary-text);
    max-height: 10em
}

.user-contrib {
    width: 3em;
    background-color: var(--accent)
}

.user-contrib:hover {
    border: .2em solid var(--primary)
}

.user-info img {
    display: block;
    width: 100%;
    height: auto
}

.user-name {
    color: #fff;
    font-size: 1.2em;
    overflow-wrap: break-word;
    text-align: center
}

.user-info-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .3s ease;
    background-color: var(--primary)
}

.user-info:hover .user-info-overlay {
    opacity: 1
}

:root {
    --primary-text: #fff;
    --primary-text-muted: #aaa;
    --grad-primary: #df6277ff;
    --background: #15181c;
    --accent: #21242b;
    --accent-light: #313540;
    --code: #313540;
    --disabled: #666;
    --primary: hsl(350, 66%, 63%);
    --link: hsl(214, 46%, 52%);
    --info: hsl(274, 32%, 42%);
    --success: hsl(145, 27%, 59%);
    --warn: hsl(49, 85%, 69%);
    --danger: hsl(17, 95%, 70%);
    --primary-dark: hsl(350, 66%, 55%);
    --link-dark: hsl(214, 46%, 42%);
    --info-dark: hsl(274, 32%, 32%);
    --success-dark: hsl(145, 27%, 49%);
    --warn-dark: hsl(49, 85%, 60%);
    --danger-dark: hsl(17, 95%, 65%);
    --primary-light: hsl(350, 66%, 70%);
    --link-light: hsl(214, 46%, 67%);
    --info-light: hsl(274, 32%, 56%);
    --success-light: hsl(145, 27%, 67%);
    --warn-light: hsl(49, 85%, 79%);
    --danger-light: hsl(17, 95%, 80%);
    background-color: var(--background)
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-text: #333;
        --primary-text-muted: #666;
        --background: #ffffff;
        --accent: #e0e0e0;
        --accent-light: #d0d0d0
    }
}

* {
    box-sizing: border-box
}

body, html {
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei UI", Inter, -apple-system, system-ui, sans-serif;
    color: var(--primary-text)
}

.bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('imgs/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

* {
    box-sizing: border-box
}

p:last-child {
    margin-bottom: 0
}

.tmpl-post li, iframe, img, p {
    max-width: min(100%)
}

.tmpl-post li, p {
    line-height: 1.45
}

a {
    color: var(--link)
}

table {
    margin: 1em 0
}

table td, table th {
    padding-right: 1em
}

blockquote {
    border-left: var(--primary) .25em solid;
    padding: .5em;
    margin: 0
}

code {
    font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
    line-height: 1.5
}

pre {
    border-radius: 1em
}

:not(pre) > code {
    border-radius: .15em
}

.top {
    margin-top: 1em
}

pre {
    font-size: 14px;
    line-height: 1.375;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 1em;
    margin: .5em 0;
    background-color: var(--code);
    color: #fff;
    overflow: auto
}

code {
    word-break: break-all;
    color: #fff;
    background-color: var(--code)
}

.highlight-line {
    display: block;
    padding: .125em 1em;
    text-decoration: none;
    color: inherit
}

.highlight-line:empty:before {
    content: " "
}

.highlight-line + br {
    display: none
}

.highlight-line-isdir {
    color: #b0b0b0;
    background-color: #222
}

.highlight-line-active {
    background-color: #444;
    background-color: hsla(0, 0%, 27%, .8)
}

.highlight-line-add {
    background-color: #45844b
}

.highlight-line-remove {
    background-color: #902f2f
}

.container {
    max-width: 90em;
    margin: 0 auto;
    position: relative
}

.content {
    background-color: var(--background);
    border-radius: 1em;
    padding: 1em
}

.center {
    text-align: center;
    margin: auto
}

.infobox {
    background-color: var(--accent);
    padding: 1em;
    border-radius: 1em
}

.button {
    display: inline-block;
    border: none;
    position: relative;
    color: #fff;
    padding: .5em 1.5em;
    list-style: none;
    font-size: 1.2em;
    font-family: "Microsoft YaHei UI", Inter, sans-serif;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--primary);
    border-radius: .365em;
    transition: .2s ease;
    background-position-x: 100%;
    cursor: pointer
}

.button[disabled] {
    opacity: .5;
    pointer-events: none
}

.button:hover {
    background-color: var(--primary-dark)
}

.button.type-link {
    background-color: var(--link)
}

.button.type-link:hover {
    background-color: var(--link-dark)
}

.button.type-info {
    background-color: var(--info)
}

.button.type-info:hover {
    background-color: var(--info-dark)
}

.button.type-success {
    background-color: var(--success)
}

.button.type-success:hover {
    background-color: var(--success-dark)
}

.button.type-warn {
    background-color: var(--warn);
    color: #000
}

.button.type-warn:hover {
    background-color: var(--warn-dark);
    color: #000
}

.button.type-danger {
    background-color: var(--danger)
}

.button.type-danger:hover {
    background-color: var(--danger-dark)
}

.button.size-large {
    font-size: 1.5em
}

.button.size-small {
    font-size: 1em
}

.direct-link {
    text-decoration: none;
    font-style: normal;
    margin-left: .1em
}

a.direct-link, a.direct-link:visited {
    color: transparent
}

:hover > a.direct-link, :hover > a.direct-link:visited, a.direct-link:focus, a.direct-link:focus:visited {
    color: #aaa
}

.download-links {
    padding: 0
}

.download-links li {
    display: inline;
    margin: .25em
}

.row {
    display: flex;
    flex-direction: column
}

.column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    text-align: center
}

.column img {
    height: auto
}

.subtitle {
    font-size: 1.5em;
    text-align: center
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1em
}

.card {
    flex: 1;
    padding: 1em;
    text-align: center;
    background-color: var(--accent)
}

.card .button {
    width: 100%;
    margin: 0
}

.notification {
    border-radius: 1em;
    position: relative;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    margin-bottom: 1em;
    color: #fff
}

.notification.type-primary {
    background-color: var(--primary)
}

.notification.type-link {
    background-color: var(--link)
}

.notification.type-info {
    background-color: var(--info)
}

.notification.type-success {
    background-color: var(--success)
}

.notification.type-warn {
    background-color: var(--warn);
    color: #000
}

.notification.type-danger {
    background-color: var(--danger)
}

.footer {
    text-align: center;
    padding: 2em;
    color: #fff
}

@media (min-width: 64em) {
    .row {
        flex-direction: row
    }

    .row-reverse {
        flex-direction: row-reverse
    }

    .column {
        flex: 50%
    }

    .wiki-content {
        padding-left: 1em
    }

    .cards {
        flex-direction: row;
        justify-content: space-between
    }

    .card {
        align-self: flex-start
    }
}

.invisible {
    visibility: hidden;
}